<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ChemPen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>ChemPen</h1>
        <form action="/generate" method="post">
            <label for="compound">Sisesta aine nimetus:</label>
            <input type="text" id="compound" name="compound" required>
            <button type="submit">Sisesta</button>
        </form>
        
        {% if image_url %}
            <h2>Graafiline valem:</h2>
            <img src="{{ image_url }}" alt="Chemical compound image">
            <h3>Brutovalem: {{ molecular_formula }}</h3>
        {% endif %}
        
        {% if error_message %}
            <p>{{ error_message }}</p>
        {% endif %}
    </div>
</body>
</html>

